
<configuration>
	<configSections>
		<section name="entraBank" type="ConfigManagerApp.EntraBankConfiguration, ConfigManagerApp"/>
	</configSections>
	<appSettings>
		<add key="key1" value="1234567"/>
	</appSettings>
	<entraBank>
		<add key="InputChannel" value="Channel"/>
		<add key="MQPort" value="1421"/>
	</entraBank>
</configuration>